# Core Airflow Providers
apache-airflow-providers-postgres
apache-airflow-providers-telegram
apache-airflow-providers-common-sql

# Database Drivers
psycopg2-binary
clickhouse-connect
asyncpg

# Financial & Data Tools
yfinance
vnstock
pandas
numpy
pandas_ta
python-dotenv
requests
websockets

# Testing Dependencies
pytest==7.4.0
pytest-mock==3.11.1
pytest-cov==4.1.0
pytest-asyncio==0.21.1
freezegun==1.2.2
responses==0.23.3
