# Core Airflow Providers
apache-airflow-providers-postgres
apache-airflow-providers-telegram
apache-airflow-providers-common-sql

# Database Drivers
psycopg2-binary
clickhouse-connect
asyncpg

# Financial & Data Tools
yfinance
vnstock
pandas
numpy
pandas_ta
python-dotenv
requests
websockets
